.nav {
    background-color: black;
    position: fixed;
    z-index: 1;
    top: 3.5rem;
    left: 0;

    width: 4rem;
    
    display: flex;
    flex-direction: column;
}

.navitem {
    height: 5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navimg {
    width: 1.5rem;
}

.navlabel {
    font-size: 0.6rem;
    padding-top: 1em;
}