.video-feed {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 20px;

    margin: 1rem;
}

/* .video-item * {
    display: none;
} */

.thumbnail-container, .thumbnail-img {
    display: block;
}

.thumbnail-img {
    width: 100%;
    border-radius: 1rem;
}

.channel-icon {
    width: 2.5rem;
    border-radius: 50%;
}

.video-three-dots-container {
    padding: 0.5rem;
}
.video-three-dots {
    width: 1rem;
}

.video-item-info {
    display: flex;
    align-items: start;
}

.video-item-texts {
    margin-left: 1rem;
    margin-right: 1rem;
}