.footer {
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 3rem;

    /* display: none; */
    display: flex;

}

.footer > div {
    /* background-color: white; */
    flex: 1;
    color: white;
    text-align: center;
    font-size: 0.7rem;
    vertical-align: middle;
    /* border: 1px solid red; */
}

.footericon {
    height: 1.25rem;
    margin-top: 0.5rem;
}

.pagelabel {
    margin-bottom: 0.5rem;
}